
body { width: 900px; margin: 2px auto}
h1 { font: 25px Georgia,Sans-Serif; margin: 0 0 10px 10px; }
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
p { margin: 0 0 10px 0; }

.tabs { list-style: none; }
.tabs li { display: inline; }
.tabs li a { color: black; float: left; display: block; padding: 4px 21px; margin-left: -1px; position: relative; left: -29px; background: white; text-decoration: none; }
#newstab { color:#D61D00; }
#foottab { color:#008000; }
#travtab { color:#066EC9; }

#newstab:hover { color:white; background: #D61D00; }
#foottab:hover { color:white; background: #008000; }
#travtab:hover { color:white; background: #066EC9; }
#tabpage_1:target, #tabpage_2:target, #tabpage_3:target { z-index: 1; }

.group { font-weight:bold; }

.tabbed-area { margin: 0 0 0 0; }
.box-wrap { position: relative; min-height: 250px; }
.tabbed-area div div { background: white; min-height: 250px; position: absolute; top: -17px; left: 10px; width: 100%; }
.tabbed-area div div, .tabs li a { border: 1px solid #ccc; }



.tabbody { min-height: 250px; position: relative; width: 100%; }
.tabbody > div { display: inline; }
.tabbody > div > ol > li > a { position: relative; text-decoration: none; color: black; background: #fff; }
.tabbody > div > ol > li > p { position: relative; color: black; background: white; }
.tabbody > div:not(:target) > a { border-bottom: 100px; color:white; background: -moz-linear-gradient(top, white, #eee); }
.tabbody > div:target > a { background: white; }
.tabbody > div > div { background: white; z-index: -2; left: 0; top: 30px; bottom: 0; right: 0; padding: 20px; border: 1px solid #ccc; }
.tabbody > div:not(:target) > div { position: absolute }
.tabbody > div:target > div { position: absolute; z-index: -1; }
.tabbody > div:not(:target) { display:none; }

/*For browser/screen widths less than 768px*/
@media screen and (max-width: 768px) {

    body { width: 300px; margin: 2px}
}

/* Smartphones (portrait and landscape)*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body { width: 300px; margin: 2px}
}
